#previousResults {
    width: 20em;
}

#searchButton{
    width: -webkit-fill-available;
}

.card {
    width: 20rem;
    height: 24rem;
    overflow: auto;
}

.card img {
    display: none;
    align-self: center;
    width: 25%;
    height: 25%;
}
.uvLow {
    background-color: green;
}

.uvModerate {
    background-color: yellow;
}

.uvHigh {
    background-color: orange;
}

.uvVeryHigh {
    background-color: red;
}

.uvExtreme {
    background-color: violet;
}