#previousResults {
    width: 20em;
}

#searchButton{
    width: -webkit-fill-available;
}

.card {
    width: 20rem;
    height: 20rem;
}

.uvLow {
    background-color: green;
}

.uvModerate {
    background-color: yellow;
}

.uvHigh {
    background-color: orange;
}

.uvVeryHigh {
    background-color: red;
}

.uvExtreme {
    background-color: violet;
}